@import './components/variables';
@import './components/vartalon';
@import './components/vartalon3';
@import './components/varatalon4';
@import './components/vartalon5';
@import './components/vartalon6';
@import './components/vartalon7';
@import './components/vartalon8';

body {
    overflow: hidden;
}

.col-12 {
    padding-right: 0px !important; 
    padding-left: 0px !important;
}