.vartalon6 {
    background-image: url('../../images/imagen6.png');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    img {
        width: 83%;
        height: 58%;
        margin-top: 12.2%;
        margin-left: 0%;
    }

    .pol {
        position: absolute;
        width: 35%;
        margin-top: 165px;
        margin-left: -20px;
        visibility: hidden;
    }

    .giro {
        visibility: hidden;
    }

    .link5 {
        position: absolute;
        width: 16%;
        height: 17%;
        left: 81%;
        top: 82%;
    }

}

@media screen and (min-width: 640px){
    .vartalon6 .pol {
        position: absolute;
    width: 35%;
    margin-top: 68px;
    margin-left: -20px;
    height: 240px;
    }
}

// @media screen and (min-width: 960px) and (max-width: 1023px){
//     .vartalon6 .pol {
//         position: absolute;
//         width: 35%;
//         margin-top: 129px;
//         margin-left: -20px;
//     }
// }

@media screen and (min-width: 731px) and (max-width: 735px) {
    .vartalon6 {
        .pol {
            position: absolute;
            width: 32%;
            margin-top: 78px;
            margin-left: -10px;
            height: 271px;
        }
    }
    
}

@media screen and (min-width: 568px) and (max-width: 639px) {
    .vartalon6 .pol {   
        position: absolute;
        width: 31%;
        margin-top: 62px;
        margin-left: -10px;
        height: 212px;

    }
}

@media screen and (min-width: 667px) and (max-width: 730px) {
    .vartalon6 .pol {
        position: absolute;
    width: 30%;
    margin-top: 86px;
    margin-left: -20px;
    }
}

@media screen and (min-width: 736px){
    .vartalon6 .pol {
        position: absolute;
    width: 33%;
    margin-top: 78px;
    margin-left: -20px;
    height: 280px;
    }
}

@media screen and (min-width: 812px){
    .vartalon6 
    .pol {
        position: absolute;
        width: 32%;
        margin-top: 72px;
        margin-left: -14px;
        height: 246px;
    }
    .vartalon6 img {
        width: 83%;
    height: 57%;
    margin-top: 10.2%;
    margin-left: 0%;
    }
}

@media screen and (min-width: 1024px) {
    .vartalon6 .pol {
        position: absolute;
        width: 32%;
        margin-top: 145px;
        margin-left: -20px;
        height: 510px;
    }
    .vartalon6 img {
        width: 83%;
        height: 56%;
        margin-top: 17.2%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1366px){
    .vartalon6 .pol {
        position: absolute;
        width: 40%;
        margin-top: 288px;
        margin-left: -20px;
    }
    .vartalon6 img {
        width: 80%;
        height: 50%;
        margin-top: 19.2%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 720px) and (max-width: 730px){
    .vartalon6 {
        .giro {
            width: 83.5%;
            height: 56.2%;
            margin-top: 11.5%;
            margin-left: 0%;
        }

        .pol {
            position: absolute;
            width: 33%;
            margin-top: 69px;
            margin-left: -20px;
        }
    }
}


@media screen and (min-width: 823px) and (max-width: 914px){
    .vartalon6 .pol {
        position: absolute;
        width: 33%;
        margin-top: 81px;
        margin-left: -17px;
        height: 270px;
    }
    .vartalon6 img {
        width: 83%;
        height: 57%;
        margin-top: 11.2%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px){
    .vartalon6 {
        img {
            width: 83%;
            height: 57%;
            margin-top: 14.2%;
            margin-left: 0%;
        }
        .pol {
            position: absolute;
            width: 34%;
            margin-top: 112px;
            margin-left: -20px;
            height: 400px;
        }
    }
    
    
    
    
}

@media screen and (min-width: 760px) and (max-width: 811px){
    .vartalon6 {
        .giro {
            width: 83.5%;
            height: 56.7%;
            margin-top: 10.5%;
            margin-left: 0%;
        }

        .pol {
            position: absolute;
            width: 33%;
            margin-top: 9.1%;
            margin-left: -20px;
            height: 66%;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 959px) {
    .vartalon6 {
        .giro{
            width: 83%;
            height: 57%;
            margin-top: 10.2%;
            margin-left: 0%;
        }

        .pol {
            position: absolute;
    width: 32%;
    margin-top: 78px;
    margin-left: -14px;
    height: 66%;
        }
    }
}

@media screen and (min-width: 1064px) and (max-width: 1365px) {
    .vartalon6 {
        .giro{
            width: 83%;
            height: 57%;
            margin-top: 10.2%;
            margin-left: 0%;
        }

        .pol {
            position: absolute;
            width: 32%;
            margin-top: 85px;
            margin-left: -14px;
            height: 68%;
        }
    }
}