.vartalon4 {
    // background-image: url('http://127.0.0.1:3000/images/Mesa de trabajo 1 copia 3.png');
    background-size: 100% 100%;
    height: 90vh;
}

.dolo {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

#body {
    background: url('../../images/fon.png');   
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.nfk {
    width: 6.5%;
    margin-left: 38%;   
    margin-top: 15.1%;
    display: none;
}

.il {
    width: 6.6%;
    margin-left: 31.1%;
    display: none;
    margin-top: -2.5%;
}

.estres {
    width: 11.6%;
    margin-left: 19.3%;
    display: none;
    margin-top: -2.3%;
}

.on {
    width: 2.3%;
    margin-left: 21.5%;
    display: none;
    margin-top: -0.4%;  
}

.colagenasa {
    width: 16.3%;
    margin-left: 22.4%;
    display: none;
    margin-top: -0.1%;
}

.cox {
    width: 5.4%;
    margin-left: 30.4%;
    margin-top: -18.3%;
    display: none;
     
}

.pge {
    width: 3.4%;
    margin-left: 31.3%;
    display: none;
    margin-top: -0.1%;
}

.acido {
    width: 15%;
    margin-left: 38.6%;
    display: none;
    margin-top: 0.4%;
}

.oste {
    width: 11.9%;
    margin-left: 41.2%;
    display: none;
    margin-top: 0.6%;
}

.gluco {
    width: 12.3%;
    margin-left: 46.3%;
    display: none;
    margin-top: -26.9%;
}

.flecha {
    width: 2%;
    margin-left: 43.7%;
    display: none;
    margin-top: -2%;
}

.gluco2 {
    width: 12.3%;
    margin-left: 3.9%;
    display: none;
    margin-top: 1.4%;
}

.flecha2 {
    width: 2.3%;
    margin-left: 16.4%;
    display: none;
    margin-top: -2%;
}

.melo {
    width: 11.8%;
    margin-left: 40.4%;
    display: none;
    margin-top: 2.6%;
}


.flecha3 {
    width: 2.7%;
    margin-left: 37%;
    display: none;
    margin-top: -1.9%;
}

.gluco3 {
    width: 12.3%;
    margin-left: 57%;
    display: none;
    margin-top: 8.3%;
}

.melo1 {
    width: 11.6%;
    margin-left: 57.3%;
    visibility: hidden;
    margin-top: 0.4%;
}

.derecha {
    width: 3.4%;
    margin-left: 53.3%;
    display: none;
    margin-top: -4.8%;
}

.equis {
    position: absolute;
    left: 45.4%;
    top: 40%;
    display: none;
    font-size: 88px;
}

.body {
    background-image:   url('../../images/fon.png'), url('../../images/Recurso 3@2x-8.png') !important;
    background-size:contain;
    
}

.equis1 {
    position: absolute;
    left: 39%;
    top: 7.5%;
    display: none;
    font-size: 88px;
}

.equis2 {
    position: absolute;
    left: 21%;
    top: 13.9%;
    display: none;
    font-size: 88px;
}

.equis3 {
    position: absolute;
    left: 31.5%;
    top: 20.9%;
    display: none;
    font-size: 88px;
}

.equis4 {
    position: absolute;
    left: 31.5%;
    top: 39.9%;
    display: none;
    font-size: 88px;
}

.cuadro {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    margin-left: 45%;
    display: none;
    margin-top: 1%;
}

.mejoria {
    background-color: #fff;
    width: 155px;
    margin-left: 526px;
    position: absolute;
    margin-top: 64px;
    height: 36px;
    font-size: 28px;
    text-align: center;
    display: none;

    p{
        margin-block: 0;

    }
}

.mejoria1 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 34.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 60%;
    display: none;
    border: 2px solid red;
    padding: 0 10px;

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext {
    padding: 0 10px;
    border: 2px solid red;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text1 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext1 {
    padding: 0 10px;
    border: 2px solid red;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.blanco {
    
    background: #fff;
    position: absolute;
    width: 650px;
    height: 199px;
    margin-left: 19%;
    display: none;
    margin-top: -8.2%;

}

.link10 {
    position: absolute;
    width: 16%;
    height: 17%;
    left: 81%;
    bottom: 17%;
}

.text2 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext2 {
    padding: 0 10px;
    border: 2px solid red;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.blanco2 {
    
    background: #fff;
    position: absolute;
    width: 650px;
    height: 154px;
    margin-left: 19%;
    display: none;
    margin-top: -5.5%;
}

.text3 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext3 {
    padding: 0 10px;
    border: 2px solid red;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text4 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext4 {
    padding: 0 10px;
    border: 2px solid red;background-color: #fff;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text5 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext5 {
    padding: 0 10px;
    border: 2px solid red;background-color: #fff;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text6 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext6 {
    padding: 0 10px;
    border: 2px solid red;background-color: #fff;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

.text7 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext7 {
    padding: 0 10px;
    border: 2px solid red;background-color: #fff;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}


.text8 {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin-left: 1030px;
    position: absolute;
    top: 23%;
    font-size: 32.3px;
    left: -7.4%;
    background-color: #fff;
    width: 22%;
    height: 61%;
    padding: 0 10px;
    display: none;

    .subtext8 {
    padding: 0 10px;
    border: 2px solid red;background-color: #fff;
        
    }

    p {
        margin-block: 0;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1063px) {
    .nfk {
        margin-top: 20.1%;

        img {
            height: 23px;
        }
    }

    .il {
        margin-top: -2.5%;

        img {
            height: 40px;
        }
    }

    .estres {
        margin-top: -2.9%;

        img {
            height: 67px;
        }
    }

    .on {
        img {
            height: 58px;
        }
    }

    .colagenasa {
        margin-top: -0.2%;

        img {
            height: 162px;
        }
    }

    .cox {
        margin-top: -24.3%;

        img {
            height: 86px;
        }
    }

    .pge {
        margin-top: -0.2%;

        img {
            height: 103px;
        }
    }

    .acido {
        margin-top: 0.8%;

        img {
            height: 44px;
        }
    }

    .oste {
        margin-top: 1.3%;

        img {
            height: 68px;
        }
    }

    .equis {
        font-size: 70px !important;
        top: 28.4% !important;
        left: 45.9%;
    }


    .flecha {
        width: 2%;
        margin-left: 43.7%;
        margin-top: -2.3% !important;
    }

    .equis1 {
        position: absolute;
        left: 39%;
        top: -7.5%;
        font-size: 68px;
    }

    .gluco {
        width: 12.3%;
        margin-left: 46.3%;
        margin-top: -35.5%;
    }

    .gluco2 {
        width: 12.3%;
        margin-left: 3.9%;
        margin-top: 1.7%;
    }

    .flecha {
        margin-top: -2.1%;
    }

    .equis1 {
        top: -7.8% !important;
        left: 39.1%;
        font-size: 68px;
    }

    .gluco {
        margin-top: -34.7% !important;
    }

    .gluco2 {
        margin-top: 1% !important;
    }

    .equis2 {
        position: absolute;
        left: 21.1%;
        top: -1.1% !important;
        display: block;
        font-size: 68px;
    }

    .melo {
        margin-top: 3.6% !important;
    }

    .flecha2 {
        width: 2.3%;
        margin-left: 16.4%;
        margin-top: -2.5% !important;
    }

    .flecha3 {
        margin-top: -2.3% !important;
    }

    .equis3 {
        top: 7.6% !important;
        left: 31.4% !important;
        font-size: 68px;
    }

    .equis4 {
        top: 28% !important;
        font-size: 68px;
    }

    .gluco3 {
        margin-top: 11.2% !important;
    }

    .melo1 {
        margin-top: 1.2%;
    }

    .derecha {
        margin-top: -5.8% !important;
    }

    .cuadro {
        height: 7.6% !important;
    }

    .mejoria {
        font-size: 21.6px;
        margin-left: 40%;
        margin-top: 6.7% !important;
        height: 4% !important;
    }

    .mejoria1 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
    }

    .text {
        margin-left: 80%;
        top: 18%;
        height: 62%;
    }

    .text1 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
    }

    .text2 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
    }

    .text3 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
    }

    .text4 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
        font-size: 28px;
    }

    .text5 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
        font-size: 28px;
    }

    .text6 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
        font-size: 28px;
    }

    .text7 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
        font-size: 28px;
    }

    .text8 {
        margin-left: 80%;
        top: 18%;
        height: 62%;
        font-size: 28px;
    }

    .blanco {
        height: 21.4%;
        margin-top: -11.2%;
        width: 50.5%;
        height: 27.6%;
    }

    .blanco2 {
        height: 16.3%;
        margin-top: -7.2%;
        width: 50.5%;
        height: 22.6%;
    }

    .dolo {
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 719px){
    .gluco {
        margin-top: 13.7%;
    }

    .nfk {
        margin-top: 13.5%;
    }

    .il {
        margin-top: -3.7%;
    }

    .estres {
        margin-top: -2.1%;
    }

    .on {
        margin-top: 0%;
    }

    .colagenasa {
        margin-top: 0.1%;
    }

    .cox {
        margin-top: -18.1%;
    }

    .pge {
        margin-top: 0.4%;
    }

    .acido {
        margin-top: 0.3%;
    }

    .oste {
        margin-top: 1%;
    }

    .equis {
        left: 45.1%;
        top: 23.4%;
        font-size: 58px;
    }

    .gluco {
        margin-top: -28%;
    }

    .flecha {
        margin-top: -3.3%;
    }

    .equis1 {
        top: -9.2%;
        font-size: 48px;
    }

    .gluco2 {
        margin-top: -0.8%;
    }

    .equis2 {
        top: -3.1%;
        font-size: 46px;
    }

    .flecha2 {
        margin-top: -3.7%;
    }

    .melo {
        margin-top: 0.6%;
    }

    .flecha3 {
        margin-top: -3.8%;
    }

    .equis3 {
        font-size: 48px;
        top: 5.2%;
    }

    .equis4 {
        font-size: 48px;
        top: 25.5%;
    }

    .gluco3 {
        margin-top: 6.7%;
    }

    .melo1 {
        margin-top: -1%;

    }

    .derecha {
        margin-top: -6.5%;
    }

    .cuadro {
        width: 1%;
    height: 6.8%;
    margin-left: 46.6%;
    margin-top: 0.5%;
    }

    .mejoria {
        width: 12.3%;
        margin-left: 41%;
        margin-top: 4.4%;
        height: 3%;
        font-size: 10.6px;
    }

    .mejoria1 {
        font-size: 14.2px;
    top: -9%;
    margin-left: 80%;
    height: 77%;
        width: 25%;


    }

    .text {
        margin-left: 80%;
        top: -9%;
        font-size: 15.3px;
        width: 25%;
        height: 78%;

    }

    .text1 {
        font-size: 18.2px;
        top: -9%;
        margin-left: 80%;
        width: 25%;
        height: 76%;

    }

    .blanco {
        width: 50.6%;
        height: 27.9%;
        margin-left: 19%;
        margin-top: -8%;
    }

    .text2 {
        margin-left: 80%;
    top: -9%;
    font-size: 16.2px;
    height: 76%;
    width: 25%;

    }

    .blanco2 {
        width: 50.6%;
        height: 22%;
        margin-top: -31px;
    }

    .text3 {
        margin-left: 80%;
    font-size: 18.2px;
    top: -9%;
    height: 78%;
    width: 24%;
    }

    .text4 {
        margin-left: 80%;
    font-size: 18.2px;
    top: -9%;
    font-size: 11.3px;
    height: 76%;
    width: 24%;
    }

    .text5 {
        margin-left: 80%;
    top: -9%;
    font-size: 15.5px;
    height: 79%;
        width: 26%;
    }

    .text6 {
        margin-left: 80%;
    top: -9%;
    font-size: 15.2px;
    height: 80%;
    width: 25%;
    }

    .text7 {
        top: -9%;
    font-size: 18.2px;
    margin-left: 80%;
    font-size: 13.2px;
    height: 77%;
    width: 26%;
    }

    .text8 {
        margin-left: 80%;
    top: -9%;
    font-size: 14.3px;
    height:76%;
    width: 26%;
    }

    .dolo {
        display: none;
    }

    .link10 {
        position: absolute;
    width: 16%;
    height: 15%;
    left: 81%;
    top: 68%;
    }
}

@media screen and (min-width: 720px) and (max-width: 730px){
    .nfk {
        margin-top: 12.3%;
    }    

    .il {
        margin-top: -3.2%;
    }

    .estres {
        margin-top: -2.3%;
    }

    .on {
        margin-top: -0.7%;

        img {
            height: 25px;
        }
    }

    .colagenasa {
        margin-top: -0.2%;
        width: 16.3%;

        img {
            height: 79px;
        }
    }

    .cox {
        margin-top: -16.1%;
        width: 5.4%;

        img {
            height: 39px;
        }
    }

    .pge {
        margin-top: -0.2%;
        margin-left: 31.2%;
        width: 3.5%;

        img {
            height: 41px;
        }
    }

    .acido {
        margin-top: 0.5%;
    }

    .oste {
        margin-top: 0.7%;
        width: 12.7%;
        margin-left: 40.8%;

        img {
            height: 30px;
        }
    }

    .equis {
        left: 45.4%;
        top: 23.7%;
        font-size: 58px;
    }

    .gluco {
        margin-top: -24.5%;
    }

    .flecha {
        margin-top: -3.2%;
    }

    .equis1 {
        top: -9.4%;
        font-size: 48px;
    }

    .gluco2 {
        margin-top: -0.7%;
    }

    .equis2 {
        top: -2.1%;
        font-size: 46px;
    }

    .flecha2 {
        margin-top: -3.3%;
    }

    .melo {
        margin-top: 0.7%;
    }

    .flecha3 {
        margin-top: -3.3%;
    }
    

    .equis3 {
        font-size: 48px;
        top: 5.5%;
    }

    .equis4 {
        font-size: 48px;
        top: 26.1%;
    }

    .gluco3 {
        margin-top: 5.6%;
    }

    .melo1 {
        width: 11.6%;
        margin-left: 57.3%;
        margin-top: -0.7%;
    }

    .derecha {
        margin-top: -5.9%;
    }

    .cuadro {
        width: 1%;
        height: 6.6%;
        margin-left: 46.6%;
        margin-top: 0.5%;
    }

    .mejoria {
        width: 13.6%;
        margin-left: 40%;
        margin-top: 3.5%;
        height: 5%;
        font-size: 10.6px;
    }    

    .mejoria1 {
        font-size: 17.2px;
        top: -8%;
        margin-left: 80%;
        height: 75%;
        width: 25%;
    }

    .text {
        margin-left: 80%;
        top: -8%;
        font-size: 17.2px;
        height: 73%;
        width: 25%;
    }

    .text1 {
        width: 25%;
        font-size: 18.2px;
        top: -8%;
        margin-left: 80%;
        height: 73%;
    }

    .blanco {
        width: 50.6%;
        height: 30.7%;
        margin-left: 19%;
        margin-top: -8%;
    }

    .text2 {
        margin-left: 80%;
        top: -8%;
        font-size: 18.2px;
        height: 73%;
        width: 25%;
    }

    .blanco2 {
        width: 50.6%;
        height: 24%;
        top: 43%;
    }

    .text3 {
        margin-left: 80%;
        font-size: 23.2px;
        top: -8%;
        height: 73%;
        width: 25%;
    }

    .text4 {
        margin-left: 80%;
        top: -8%;
        font-size: 12.3px;
        height: 73%;
        width: 25%;
    }

    .text5 {
        margin-left: 80%;
        top: -8%;
        font-size: 14.8px;
        height: 73%;
        width: 25%;
    }

    .text6 {
        margin-left: 80%;
        top: -8%;
        font-size: 18.2px;
        height: 73%;
        width: 25%;
    }

    .text7 {
        top: -8%;
        margin-left: 80%;
        font-size: 14.7px;
        height: 73%;
        width: 25%;
    }

    .text8 {
        margin-left: 80%;
        top: -8%;
        font-size: 17.3px;
        height: 73%;
        width: 25%;
    }
}

@media screen and (min-width: 731px) and (max-width: 735px){
    .nfk {
        margin-top: 14%;
    }

    .il {
        width: 6.6%;
        margin-left: 31.1%;
        display: block;
        margin-top: -3%;
    }

    .on {
        margin-top: -0.1%;
    }

    .colagenasa {
        margin-top: 0.3%;
    }

    .cox {
        margin-top: -17.9%;
    }

    .cox {
        margin-top: -17.9%;
    }

    .oste {
        margin-top: 0.8%;
    }

    .acido {
        margin-top: 0.6%;
    }

    .equis {
        top: 25.3%;
        font-size: 58px;
    }

    .gluco {
        margin-top: -27.2%;
    }

    .flecha {
        margin-top: -3.3%;
    }

    .equis1 {
        top: -13.4%;
        font-size: 68px;
        left: 39%;
    }

    .gluco2 {
        margin-top: -0.2%;
    }

    .equis2 {
        top: -7.1%;
        left: 20.4%;
        font-size: 68px;
    }

    .flecha2 {
        margin-top: -3.2%;
    }

    .melo {
        margin-top: 1.1%;
    }
    
    .flecha3 {
        margin-top: -3.1%;
    }

    .equis3 {
        top: 0.5%;
        left: 30.9%;
        font-size: 68px;
    }

    .equis4 {
        top: 21.1%;
        left: 30.6%;
        font-size: 68px;
    }

    .gluco3 {
        margin-top: 6.9%;
    }

    .melo1 {
        width: 11.6%;
        margin-left: 57.3%;
        margin-top: -0.6%;
    }

    .derecha {
        width: 3.4%;
        margin-left: 53.3%;
        margin-top: -5.8%;
    }

    .cuadro {
        height: 6%;
    }

    .mejoria {
        margin-top: 2.7%;
        background-color: #fff;
        width: 155px;
        margin-left: 41%;
        position: absolute;
        margin-top: 64px;
        height: 8%;
        font-size: 20px;
        text-align: center;
    }

    .mejoria1 {
        top: -8%;
        height: 73%;
        font-size: 17.3px;
        width: 25%;
        margin-left: 80%;
    }

    .text {
        top: -8%;
        height: 73%;
        font-size: 19.8px;
        width: 25%;
        margin-left: 80%;
    }

    .text1 {
        top: -8%;
        height: 73%;
        font-size: 19.8px;
        width: 25%;
        margin-left: 80%;
    }

    .blanco {
        height: 28.4%;
        width: 51%;
    }

    .text2 {
        top: -8%;
        height: 73%;
        font-size: 19.8px;
        width: 25%;
        margin-left: 80%;
    }

    .blanco2 {
        height: 22.3%;
        width: 51%;
    }

    .text3 {
        top: -8%;
        height: 73%;
        font-size: 19.8px;
        width: 25%;
        margin-left: 80%;
    }

    .text4 {
        top: -8%;
        height: 73%;
        font-size: 13.8px;
        width: 25%;
        margin-left: 80%;
    }

    .text5 {
        top: -8%;
        height: 73%;
        font-size: 15.3px;
        width: 25%;
        margin-left: 80%;
    }

    .text6 {
        top: -8%;
        height: 73%;
        font-size: 18.9px;
        width: 25%;
        margin-left: 80%;
    }

    .text7 {
        top: -8%;
        height: 73%;
        font-size: 15.8px;
        width: 25%;
        margin-left: 80%;
    }

    .text8 {
        top: -8%;
        height: 73%;
        font-size: 19.2px;
        width: 25%;
        margin-left: 80%;
    }
}

@media screen and (min-width: 736px) {
    .il {
        margin-top: -3.3%;
    }

    .gluco {
        width: 12.3%;
        margin-left: 46.3%;
        margin-top: -24.9%;
    }

    .flecha {
        width: 2%;
        margin-left: 43.7%;
        margin-top: -3.3%;
    }

    .gluco2 {
        width: 12.3%;
        margin-left: 3.9%;
        margin-top: -0.6%;
    }

    .flecha2 {
        width: 2.3%;
        margin-left: 16.4%;
        margin-top: -3.3%;
    }

    .flecha3 {
        width: 2.7%;
        margin-left: 37%;
        margin-top: -3.1%;
    }

    .gluco3 {
        width: 12.3%;
        margin-left: 57%;
        margin-top: 6.8%;
    }

    .derecha {
        width: 3.4%;
        margin-left: 53.3%;
        margin-top: -6.8%;
    }

    .equis {
        position: absolute;
        left: 44.9%;
        top: 19%;
        display: none;
        font-size: 68px;
    }

    .equis1 {
        position: absolute;
        left: 39%;
        top: -13.5%;
        display: none;
        font-size: 68px;
    }

    .equis2 {
        position: absolute;
        left: 20.5%;
        top: -8.1%;
        display: none;
        font-size: 68px;
    }

    .equis3 {
        position: absolute;
        left: 31%;
        top: -1.1%;
        display: none;
        font-size: 68px;
    }

    .equis4 {
        position: absolute;
        left: 31.5%;
        top: 19.9%;
        display: none;
        font-size: 68px;
    }

    .melo {
        width: 11.8%;
        margin-left: 40.4%;
        margin-top: 0%;
    }

    .blanco {
        width: 51%;
        height: 30%;
    }

    .blanco2 {
        width: 51%;
        height: 24%;
    }

    .cuadro {
        width: 3%;
        height: 5%;
        margin-top: 0.7%;
    }

    .mejoria {
        background-color: #fff;
        width: 155px;
        margin-left: 40%;
        position: absolute;
        margin-top: 4%;
        height: 7%;
        font-size: 17px;
        text-align: center;
    }

    .text8 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 17.7px;
        width: 25%;
    }

    .text7 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 15.2px;
        width: 25%;
    }

    .text6 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 18.8px;
        width: 25%;
    }

    .text5 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 15.3px;
        width: 25%;
    }

    .text4 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 12.3px;
        width: 25%;
    }

    .text3 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 25.3px;
        width: 25%;
    }

    .text2 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 19.3px;
        width: 25%;
    }

    .text1 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 19.3px;
        width: 25%;
    }

    .text {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 17.3px;
        width: 25%;
    }

    .mejoria1 {
        height: 66%;
        margin-left: 80%;
        top: -3%;
        font-size: 17.3px;
        width: 25%;
    }
     .dolo {
         display: none;
     }
}

@media screen and (min-width: 812px) and (max-width: 822px) {
    .nfk {
        margin-top: 11.4%;
    }

    .il {
        margin-top: -3%;
    }

    .estres {
        margin-top: -1.9%;

        img {
            height: 34px;
        }
    }

    .on {
        margin-top: -0.2%;
    }

    .colagenasa {
        margin-top: -0.1%;

        img {
            height: 75px;
        }
    }

    .cox {
        margin-top: -14.4%;

        img {
            height: 39px;
        }
    }

    .pge {
        margin-top: -0.1%;

        img {
            height: 47px;
        }
    }

    .oste {
        img {
            height: 31px;
        }
    }

    .acido {
        margin-top: 0.1%;
    }

    .equis {
        top: 20.8%;
    }

    .gluco {
        margin-top: -22.8%;
    }

    .flecha {
        margin-top: -2.6%;
    }

    .equis1 {
        top: -14.5%;
    }

    .equis2 {
        top: -7.9%;
    }

    .melo {
        width: 11.8%;
        margin-left: 40.4%;
        margin-top: 0.3%;
    }

    .flecha2 {
        margin-top: -2.7%;
    }

    .flecha3 {
        margin-top: -2.4%;
    }

    .equis3 {
        top: -0.5%;
    }

    .equis4 {
        top: 21.1%;
    }

    .gluco3 {
        width: 12.3%;
        margin-left: 57%;
        margin-top: 5.1%;
    }

    .melo1 {
        width: 11.6%;
        margin-left: 57.3%;
        margin-top: -0.6%;
    }

    .derecha {
        margin-top: -5.1%;
    }

    .cuadro {
        height: 5.9%;
    }

    .mejoria {
        background-color: #fff;
        width: 155px;
        margin-left: 40%;
        position: absolute;
        margin-top: 3%;
        height: 7%;
        font-size: 17px;
        text-align: center;
    }
    
    .mejoria1 {
        height: 71%;
        font-size: 16.4px;
    }

    .text {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }

    .text1 {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }

    .text2 {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }

    .text3 {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }

    .text4 {
        height: 74%;
        font-size: 11.4px;
        top: -6%;
    }

    .text5 {
        height: 74%;
        font-size: 16.4px;
        top: -6%;
    }


    .text6 {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }

    .text7 {
        height: 74%;
        font-size: 15.4px;
        top: -6%;
    }

    .text8 {
        height: 74%;
        font-size: 19.4px;
        top: -6%;
    }
    
    .blanco {
        height: 30.4%;
        margin-top: -7.2%;
    }

    .blanco2 {
        height: 25.3%;
    }
}

@media screen and (min-width: 823px) and (max-width: 850px){
    .nfk {
        margin-top: 11.7%;
    }

    .estres {
        margin-top: -2.5%;
    }

    .colagenasa {
        margin-top: -0.3%;
    }

    .cox {
        margin-top: -17%;
    }

    .oste {
        margin-top: 0.5%;
    }

    .flecha {
        margin-top: -3.3%;
    }

    .equis {
        top: 44.5%;
        font-size: 68px;
        top: 25.1%;
    }

    .gluco {
        margin-top: -27.3%;
    }

    .equis1 {
        top: -13.1%;
        left: 38.7%;
        font-size: 68px;
    }

    .gluco2 {
        margin-top: 1.2%;
    }

    .equis2 {
        top: -7.1%;
        left: 20.7%;
        font-size: 68px;
    }

    .flecha2 {
        margin-top: -2.7%;
    }

    .flecha3 {
        margin-top: -2.7%;
    }

    .melo {
        margin-top: 0.2%;
    }

    .equis3 {
        font-size: 68px;
        top: 0.2%;
        left: 31.5%;
    }

    .equis4 {
        font-size: 68px;
        top: 24.1%;
        left: 31.1%;
    }

    .gluco3 {
        width: 12.3%;
        margin-left: 57%;
        margin-top: 7.1%;
    }

    .gluco {
        margin-top: -25.7%;
    }

    .derecha {
        margin-top: -6.2%;
    }

    .cuadro {
        height: 5.6%;
    }

    .mejoria {
        height: 7%;
        margin-left: 38%;
        font-size: 18px;
        width: 121px;
        margin-left: 40%;
    }

    .mejoria1 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 19.5px;
        height: 74%;
        width: 25%;
    }

    .text {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 19.5px;
        height: 74%;
        width: 25%;
    }

    .text1 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 19.5px;
        height: 74%;
        width: 25%;
    }

    .text2 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 19.5px;
        height: 74%;
        width: 25%;
    }

    .text3 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 19.5px;
        height: 74%;
        width: 25%;
    }

    .text4 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 13.9px;
        height: 74%;
        width: 25%;
    }

    .text5 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 17.6px;
        height: 74%;
        width: 25%;
    }

    .text6 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 20.3px;
        height: 74%;
        width: 25%;
    }

    .text7 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 17.5px;
        height: 74%;
        width: 25%;
    }

    .text8 {
        top: -3%;
        height: 68%;
        margin-left: 80%;
        font-size: 20.3px;
        height: 74%;
        width: 25%;
    }

    .blanco {
        height: 28.4%;
        width: 51%;
    }

    .blanco2 {
        height: 23.3%;
        width: 51%;
    }
}

@media screen and (min-width: 851px) and (max-width: 914px) {
    .nfk {
        margin-top: 12.3%;
    }

    .il {
        margin-top: -2.8%;
    }

    .on {
        margin-top: -0.3%;

        img {
            height: 24.6px;
        }
    }

    .estres {
        img {
            height: 35px;
        }
    }

    .colagenasa {
        img {
            height: 83px;
        }
    }

    .on {
        margin-top: -1%;
    }

    .cox {
        margin-top: -15.4%;

        img {
            height: 44px;
        }
    }

    .pge {
        margin-top: -0.4%;

        img {
            height: 47px;
        }
    }

    .acido {
        margin-top: -0.1%;

        img {
            height: 29px;
        }
    }

    .oste {
        margin-top: 0%;

        img {
            height: 35px;
        }
    }

    .equis {
        top: 35.6%;
        left: 45.8%;
        font-size: 51px;
    }

    .gluco {
        margin-top: -22.5%;
    }

    .flecha {
        margin-top: -2.6%;
    }

    .equis1 {
        top: 7.6%;
    }

    .gluco2 {
        margin-top: 0.5%;
    }

    .equis2 {
        top: 13.9%;
        left: 21.2%;
    }

    .flecha2 {
        margin-top: -2.7%;
    }

    .melo {
        margin-top: 1.7%;
    }

    .flecha3 {
        margin-top: -2.7%;
    }

    .equis3 {
        top: 20.8%;
        left: 31.7%;
    }

    .equis4 {
        top: 39.1%;
    }

    .gluco3 {
        margin-top: 6.4%;
    }

    .melo1 {
        margin-top: -0.3%;
    }

    .derecha {
        margin-top: -4.8%;
    }

    .cuadro {
        height: 5%;
        margin-top: 1.1%;
    }

    .mejoria {
        margin-top: 3.9%;
    }

    .mejoria1 {
        height: 60%;
        font-size: 20.4px;
    }

    .text {
        height: 60%;
        font-size: 20.4px;
    }

    .text1 {
        height: 61%;
        font-size: 20.4px;
    }

    .blanco {
        height: 27.4%;
        margin-top: -7%;
    }

    .text2 {
        height: 61%;
        font-size: 20.4px;
    }

    .blanco2 {
        height: 22.5%;
        margin-top: -4.8%;
    }

    .text3 {
        height: 61%;
        font-size: 20.4px;
    }

    .text4 {
        height: 60%;
        font-size: 15.4px;
    }

    .text5 {
        height: 60%;
        font-size: 20.4px;
    }

    .text6 {
        height: 61%;
        font-size: 20.4px;
    }

    .text7 {
        height: 60%;
        font-size: 20.4px;
    }

    .text8 {
        height: 62%;
        font-size: 20.4px;
    }
}

@media screen and (min-width: 915px) and (max-width: 959px) {
    .nfk {
        margin-top: 11.3%;
    }

    .il {
        margin-top: -2.6%;
    }
    
    .estres {
        margin-top: -2%;

        img {
            height: 38px;
        }
    }

    .on {
        margin-top: -0.2%;

        img {
            height: 25px;
        }
    }

    .colagenasa {
        margin-top: 0%;

        img {
            height: 89px;
        }
    }

    .cox {
        margin-top: -14.6%;

        img {
            height: 47px;
        }
    }

    .pge {
        margin-top: 0%;

        img {
            height: 48px;
        }
    }

    .acido {
        margin-top: 0.2%;

        img {
            margin-top: 0.5%;
        }
    }

    .oste {
        margin-top: 0.2%;

        img {
            height: 36px;
        }
    }

    .equis {
        top: 27%;
        left: 45.8%;
        font-size: 51px;
    }

    .gluco {
        margin-top: -21.9%;
    }

    .flecha {
        margin-top: -2.6%;
    }

    .equis1 {
        top: -13.4%;
    }

    .equis2 {
        top: -7.3%;
        left: 20.9%;
    }

    .flecha2 {
        margin-top: -2.4%;
    }

    .melo {
        margin-top: 1.2%;
    }

    .flecha3 {
        margin-top: -2.6%;
    }

    .equis3 {
        top: 1.8%;
        left: 31.4%;
    }

    .equis4 {
        top: 21.1%;
    }

    .gluco3 {
        margin-top: 5.6%;
    }

    .melo1 {
        width: 11.6%;
        margin-left: 57.3%;
        visibility: hidden;
        margin-top: -0.2%;
    }

    .derecha {
        margin-top: -4.8%;
    }

    .cuadro {
        height: 5%;
        margin-top: 0.8%;
    }

    .mejoria {
        margin-top: 2.4%;
    }

    .mejoria1 {
        height: 66%;
        font-size: 16.4px;
    }

    .text8 {
        height: 66%;
        font-size: 20.4px;
    }

    .text7 {
        height: 66%;
        font-size: 20.4px;
    }

    .text6 {
        height: 66%;
        font-size: 20.4px;
    }

    .text5 {
        height: 66%;
        font-size: 20.4px;
    }

    .text4 {
        height: 66%;
        font-size: 15.4px;
    }

    .text3 {
        height: 66%;
        font-size: 20.4px;
    }
    
    .text2 {
        height: 66%;
        font-size: 20.4px;
    }

    .text1 {
        height: 66%;
        font-size: 20.4px;
    }

    .text {
        height: 66%;
        font-size: 20.4px;
    }
    
    .blanco {
        margin-top: -7.2%;
        width: 51%;
        height: 30%;
    }

    .blanco2 {
        width: 51%;
        height: 26%;
    }
}

@media screen and (min-width: 667px) and (max-width: 719px){
    .cox {
        margin-top: -18.2%;
    }

    .gluco {
        margin-top: -26%;
    }

    .acido {
        margin-top: 0.1%;
    }

    .colagenasa {
        margin-top: -0.4%;
    }

    .cox {
        margin-top: -18.4%;
    }

    .oste {
        margin-top: 0.3%;
    }

    .equis {
        font-size: 48px;
        top: 24.1%;
    }

    .flecha2 {
        margin-top: -3.8%;
    }

    .gluco3 {
        margin-top: 6.2%;
    }

    .derecha {
        margin-top: -5.8%;
    }

    .mejoria {
        margin-top: 4.8%;
    }
}



@media screen and (min-width: 1366px){
    .nfk {
        margin-top: 20.4%;
    }

    .il {
        margin-top: -2.8%;

        img {
            height: 52px;
        }
    }

    .estres {
        margin-top: -2.9%;

        img {
            height: 92px;
        }
    }
    
    .on {
        margin-top: -0.4%;

        img {
            height: 65px;
        }
    }

    .colagenasa {
        margin-top: -0.2%;

        img {
            height: 219px;
        }
    }

    .cox {
        margin-top: -24.2%;

        img {
            height: 109px;
        }
    }

    .pge {
        margin-top: 0.1%;

        img {
            height: 119px;
        }
    }

    .acido {
        margin-top: 1.2%;

        img {
            height: 58px;
        }
    }

    .oste {
        margin-top: 1.2%;

        img {
            height: 87px;
        }
    }

    .equis {
        top: 26.7%;
        font-size: 78px;
        left: 46.1%;
    }

    .gluco {
        margin-top:-32.3% !important;
    }

    .flecha {
        margin-top: -1.7%;
    }

    .equis1 {
        top: -5.6% !important;
    left: 39.7%;
}

    .gluco2 {
        margin-top: 2.3% !important;
    }

    .equis2 {
        top: 21%;
        left: 21.2%;
        font-size: 78px;
    }

    .flecha2 {
        margin-top: -1.9%;
    }

    .melo {
        margin-top: 4.1%;
    }

    .flecha3 {
        margin-top: -1.7%;
    }

    .equis3 {
        top: 7.3% !important;
        left: 32% !important;
    }

    .equis4 {
        top: 27.4% !important;
        left: 31.6%;
        font-size: 78px;
    }

    .gluco3 {
        margin-top: 11.7%;
    }

    .melo1 {
        margin-top: 1.2%;
    }

    .derecha {
        margin-top: -5.3%;
    }
    
    .cuadro {
        height: 6.6%;
        margin-top: 1.4%;
    }

    .mejoria {
        width: 184px;
        margin-left: 40%;
        margin-top: 6.7%;
    }

    .mejoria1 {
        height: 66%;
        font-size: 41.4px;
    }

    .text {
        height: 66%;
        font-size: 36.4px;
        margin-left: 81%;
    }

    .text1 {
        height: 66%;
        font-size: 36.4px;
        margin-left: 81%;
    }

    .text2 {
        height: 66%;
        font-size: 41.4px;
        margin-left: 81%;
    }

    .text3 {
        height: 66%;
        font-size: 41.4px;
        margin-left: 81%;
    }

    .text4 {
        height: 66%;
        font-size: 32.4px;
        margin-left: 81%;
    }

    .text5 {
        height: 66%;
        font-size: 36.4px;
        margin-left: 81%;
    }

    .text6 {
        height: 66%;
        font-size: 41.4px;
        margin-left: 81%;
    }

    .text7 {
        height: 66%;
        font-size: 36.4px;
        margin-left: 81%;
    }

    .text8 {
        height: 68%;
        font-size: 41.4px;
        margin-left: 81%;
    }

    .blanco {
        height: 21.4%;
        margin-top: -9.2%;
        width: 50.5%;
        height: 31.6%;
    }

    .blanco2 {
        height: 16.3%;
        margin-top: -6.2%;
        width: 50.5%;
        height: 26.6%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px){
    .nfk {
        margin-top: 16.2%;
    }

    .il {
        margin-top: -2.4%;
    }
    .estres {
        margin-top: -2%;

        img {
            height: 52px;
        }
    }

    .on {
        margin-top: 0.3%;
    }

    .colagenasa {
        margin-top: 0.4%;

        img {
            height: 124px;
        }
    }

    .cox {
        margin-top: -19.9%;

        img{
            height: 66px;
        }
    }

    .pge {
        margin-top: 0.4%;
    }

    .acido {
        margin-top: 1.5%;
    }
    
    .oste {
        margin-top: 1.6%;
    }

    .equis {
        font-size: 57px;
        top: 29%;
        left: 45.7%;
    }

    .gluco {
        margin-left: 46.3%;
        margin-top: -29.7%;
    }

    .flecha {
        margin-top: -2.4%;
    }

    .equis1 {
        left: 31.4%;
        top: 6.1%;
        font-size: 68px;
    }

    .gluco2 {
        margin-left: 3.9%;
        margin-top: 0.9%;
    }

    .equis2 {
        top: -2.5%;
        left: 20.9%;
        font-size: 68px;
    }

    .flecha2 {
        margin-left: 16.4%;
        margin-top: -2.5%;
    }

    .melo {
        margin-top: 2.5%;
    }    

    .equis3 {
        top: 23.1%;
        left: 31%;
    }

    .equis4 {
        top: -12.6%;
        left: 38.5%;
    }

    .gluco3 {
        margin-left: 57%;
        margin-top: 8.3%;
    }

    .derecha {
        margin-top: -5.2%;
    }

    .cuadro {
        height: 7%;
    }

    .mejoria {
        margin-left: 40%;
        margin-top: 4%;
    }

    .mejoria1 {
        top: -7%;
        height: 71%;
        font-size: 25.7px;
        margin-left: 80%;
        width: 24%;
    }

    .text {
        top: -8%;
        height: 72.3%;
        font-size: 25.4px;
        margin-left: 80%;
        width: 24%;
    }

    .text1 {
        top: -7%;
        height: 68%;
        font-size: 29px;
        margin-left: 80%;
        width: 24%;
    }


    .text2 {
        top: -8%;
        height: 69%;
        font-size: 29px;
        width: 24%;
    }


    .text3 {
        top: -8%;
        height: 69%;
        font-size: 29px;
        width: 24%;
    }


    .text4 {
        top: -8%;
        height: 58%;
        font-size: 19.8px;
        width: 24%;
    }


    .text5 {
        top: -8%;
        height: 58%;
        font-size: 22px;
        width: 24%;
    }


    .text6 {
        top: -9%;
        height: 58%;
        font-size: 29px;
        width: 24%;
    }


    .text7 {
        top: -11%;
        height: 58%;
        font-size: 23px;
        width: 24%;
    }


    .text8 {
        top: -7%;
        height: 58%;
        font-size: 27px;
        width: 24%;
    }

    .blanco {
        height: 31%;
        margin-top: -9.5%;
        width: 51%;
    }

    .blanco2 {
        height: 23.2%;
        width: 51%;
    }
}

@media screen and (min-width: 568px) and (max-width: 639px){
    .dolo {
        display: none;
    }

    .nfk {
        width: 6.5%;
        margin-left: 38%;
        margin-top: 13.5%;
    }

    .gluco {
        margin-top: -27.4%;
    }

    .nfk {
        margin-top: 14.5%;
    }

    .il {
        margin-top: -4.1%;
    }

    .gluco {
        margin-top: -25.6%;
    }

    .estres {
        margin-top: -2.7%;
    }

    .on {
        margin-top: -0.6%;
    }

    .colagenasa {
        margin-top: -0.7%;
    }

    .cox {
        margin-top: -17.4%;
    }

    .pge {
        margin-top: -0.7%;
    }

    .acido {
        margin-top: -0.1%;
    }

    .oste {
        margin-top: 0.4%;
    }

    .equis {
        left: 45.1%;
        top: 22.4%;
        font-size: 48px;
    }

    .flecha {
        margin-top: -4.1%;
    }

    .equis1 {
        top: -7.2%;
        font-size: 38px;
    }

    .gluco2 {
        margin-top: -2.4%;
    }

    .equis2 {
        top: -2.1%;
        font-size: 38px;
    }

    .flecha2 {
        margin-top: -3.7%;
    }

    .melo {
        margin-top: -0.1%;
    }

    .flecha3 {
        margin-top: -3.7%;
    }

    .equis3 {
        font-size: 38px;
        top: 6.2%;
    }

    .equis4 {
        font-size: 48px;
        top: 22.7%;
    }

    .gluco3 {
        margin-top: 4.8%;
    }

    .melo1 {
        margin-top: -0.7%;
    }

    .derecha {
        margin-top: -7.8%;
    }

    .cuadro {
        width: 1%;
        height: 4.6%;
        margin-left: 46.6%;
        margin-top: 1.5%;
    }

    .mejoria {
        width: 12.3%;
        margin-left: 41%;
        margin-top: 4.6%;
        height: 3%;
        font-size: 10.6px;
    }

    .mejoria1 {
        font-size: 13.8px;
        top: -3%;
        margin-left: 80%;
        height: 70%;
        width: 25%;
    }

    .text {
        font-size: 12.3px;
        top: -3%;
        margin-left: 80%;
        height: 68.4%;
        width: 25%;
    }

    .text1 {
        font-size: 12.3px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .blanco {
        width: 50.6%;
        height: 27.9%;
        margin-left: 19%;
        margin-top: -9%;
    }

    .text2 {
        font-size: 13.2px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .blanco2 {
        width: 50.6%;
        height: 22%;
    }

    .text3 {
        font-size: 16.2px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .text4 {
        font-size: 9.3px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .text5 {
        font-size: 10.7px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .text6 {
        font-size: 13.2px;
        top: -3%;
        margin-left: 80%;
        height: 65%;
        width: 25%;
    }

    .text7 {
        font-size: 11.2px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .text8 {
        font-size: 13.2px;
        top: -3%;
        margin-left: 80%;
        height: 68%;
        width: 25%;
    }

    .dolo {
        display: none;
    }
}

@media screen and (min-width: 760px) and (max-width: 811px){
    .nfk {
        margin-top: 11.6%;
    }  

    .il {
        margin-top: -3%;
    }

    .estres {
        margin-top: -2.1%;
    }

    .on {
        margin-top: -0.7%;

        img {
            height: 25px;
        }
    }

    .colagenasa {
        margin-top: -0.2%;
        width: 16.3%;

        img {
            height: 76px;
        }
    }

    .cox {
        margin-top: -15.1%;
        width: 5.4%;

        img {
            height: 39px;
        }
    }

    .pge {
        margin-top: 0%;
        margin-left: 31.2%;
        width: 3.5%;

        img {
            height: 41px;
        }
    }

    .acido {
        margin-top: 0.5%;
    }

    .oste {
        margin-top: 0.7%;
        width: 12.7%;
        margin-left: 40.8%;

        img {
            height: 30px;
        }
    }

    .equis {
        left: 45.4%;
        top: 23.7%;
        font-size: 58px;
    }

    .gluco {
        margin-top: -23.5%;
    }

    .flecha {
        margin-top: -3.2%;
    }

    .equis1 {
        top: -9.4%;
        font-size: 48px;
    }

    .gluco2 {
        margin-top: -0.7%;
    }

    .equis2 {
        top: -2.1%;
        font-size: 46px;
        left: 21.2%;
    }

    .flecha2 {
        margin-top: -2.7%;
    }

    .melo {
        margin-top: 0.7%;
    }

    .flecha3 {
        margin-top: -3.3%;
    }
    

    .equis3 {
        font-size: 48px;
        top: 5.5%;
        left: 31.6%;
    }

    .equis4 {
        font-size: 48px;
        top: 26.1%;
    }

    .gluco3 {
        margin-top: 5.6%;
    }

    .melo1 {
        width: 11.6%;
        margin-left: 57.3%;
        margin-top: -0.7%;
    }

    .derecha {
        margin-top: -5.9%;
    }

    .cuadro {
        width: 1%;
        height: 6.6%;
        margin-left: 46.6%;
        margin-top: 0.5%;
    }

    .mejoria {
        width: 13.6%;
        margin-left: 40%;
        margin-top: 3.5%;
        height: 5%;
        font-size: 10.6px;
    }    

    .mejoria1 {
        font-size: 17.2px;
        top: -8%;
        margin-left: 80%;
        height: 75%;
        width: 25%;
    }

    .text {
        margin-left: 80%;
        top: -8%;
        font-size: 17.2px;
        height: 73%;
        width: 25%;
    }

    .text1 {
        width: 25%;
        font-size: 18.2px;
        top: -8%;
        margin-left: 80%;
        height: 73%;
    }

    .blanco {
        width: 50.6%;
        height: 30.7%;
        margin-left: 19%;
        margin-top: -7.4%;
    }

    .text2 {
        margin-left: 80%;
        top: -8%;
        font-size: 18.2px;
        height: 73%;
        width: 25%;
    }

    .blanco2 {
        width: 50.6%;
        height: 24%;
        top: 43%;
    }

    .text3 {
        margin-left: 80%;
        font-size: 23.2px;
        top: -8%;
        height: 73%;
        width: 25%;
    }

    .text4 {
        margin-left: 80%;
        top: -8%;
        font-size: 12.3px;
        height: 73%;
        width: 25%;
    }

    .text5 {
        margin-left: 80%;
        top: -8%;
        font-size: 14.8px;
        height: 73%;
        width: 25%;
    }

    .text6 {
        margin-left: 80%;
        top: -8%;
        font-size: 18.2px;
        height: 73%;
        width: 25%;
    }

    .text7 {
        top: -8%;
        margin-left: 80%;
        font-size: 14.7px;
        height: 73%;
        width: 25%;
    }

    .text8 {
        margin-left: 80%;
        top: -8%;
        font-size: 17.3px;
        height: 73%;
        width: 25%;
    }
}

@media screen and (min-width: 1064px) and (max-width: 1365px) {
    .nfk {
        margin-top: 11.9%;

        img {
            height: 18px;
        }
    }

    .il {
        margin-top: -2.5%;

        img {
            height: 30px;
        }
    }

    .estres {
        margin-top: -1.7%;

        img {
            height: 43px;
        }
    }

    .on {
        margin-top: 0.2%;

        img {
            height: 31px;
        }
    }

    .colagenasa {
        margin-top: -0.2%;

        img {
            height: 106px;
        }
    }

    .cox {
        margin-top: -14.9%;

        img {
            height: 55px;
        }
    }

    .pge {
        margin-top: -0.2%;

        img {
            height: 65px;
        }
    }

    .acido {
        margin-top: 0.2%;

        img {
            height: 34px;
        }
    }

    .oste {
        margin-top: 0.4%;

        img {
            height: 46px;
        }
    }

    .equis {
        font-size: 70px !important;
        top: 24.4% !important;
        left: 45.6%;
    }


    .flecha {
        width: 2%;
        margin-left: 43.7%;
        margin-top: -2.3% !important;
    }

    .equis1 {
        position: absolute;
        left: 39%;
        top: -7.5%;
        font-size: 68px;
    }

    .gluco {
        width: 12.3%;
        margin-left: 46.3%;
        margin-top: -22.3% !important;
    }

    .gluco2 {
        width: 12.3%;
        margin-left: 3.9%;
        margin-top: 1.7%;
    }

    .flecha {
        margin-top: -2.1%;
    }

    .equis1 {
        top: -10.8% !important;
        left: 39.1%;
        font-size: 68px;
    }

    .gluco2 {
        margin-top: 0.4% !important;
    }

    .equis2 {
        position: absolute;
        left: 21.1%;
        top: -5.3% !important;
        display: none;
        font-size: 68px;
    }

    .melo {
        margin-top: 1.4% !important;
    }

    .flecha2 {
        width: 2.3%;
        margin-left: 16.4%;
        margin-top: -2.5% !important;
    }

    .flecha3 {
        margin-top: -2.3% !important;
    }

    .equis3 {
        top: 3.6% !important;
        left: 31.4% !important;
        font-size: 68px;
    }

    .equis4 {
        top: 24% !important;
        font-size: 68px;
    }

    .gluco3 {
        margin-top: 6% !important;
    }

    .melo1 {
        margin-top: 0.1%;
    }

    .derecha {
        margin-top: -4.8% !important;
    }

    .cuadro {
        height: 7.6% !important;
    }

    .mejoria {
        font-size: 21.6px;
        margin-left: 40%;
        margin-top: 3.5% !important;
        height: 4.4% !important;
    }

    .mejoria1 {
        margin-left: 80%;
        top: -8%;
        height: 73%;
        font-size: 22.3px;
    }

    .text {
        margin-left: 80%;
        top: -8%;
        height: 72%;
    }

    .text1 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
    }

    .text2 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
    }

    .text3 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
    }

    .text4 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
        font-size: 17px;
    }

    .text5 {
        margin-left: 80%;
        top: -8%;
        height: 62%;
        font-size: 22px;
    }

    .text6 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
        font-size: 28px;
    }

    .text7 {
        margin-left: 80%;
        top: -8%;
        height: 62%;
        font-size: 23px;
    }

    .text8 {
        margin-left: 80%;
        top: -8%;
        height: 72%;
        font-size: 28px;
    }

    .blanco {
        margin-top: -7.2%;
        width: 50.5%;
        height: 30.6%;
    }

    .blanco2 {
        margin-top: -4.5%;
        width: 50.5%;
        height: 24.6%;
    }

    .dolo {
        display: none;
    }
}