.img {
    width: $width100p;
    height: 100vh !important;
}

.link {
    position: absolute;
    width: 36%;
    height: 6%;
    left: 13%;
    top: 24%;
}
.link1 {
    position: absolute;
    width: 30%;
    height: 7%;
    left: 13%;
    top: 35%;
}
.link2 {
    position: absolute;
    width: 72%;
    height: 7%;
    left: 13%;
    top: 46%;
}

.link3 {
    position: absolute;
    width: 71%;
    height: 6%;
    left: 13%;
    top: 57%;
}

.link4 {
    position: absolute;
    width: 28%;
    height: 7%;
    left: 13%;
    top: 68%;
}

.link0 {
    position: absolute;
    width: 23%;
    height: 8%;
    left: 13%;
    top: 79%;
}