.vartalon8 {
    background-image: url('../../images/final.png');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    img {
        width: 75%;
        height: 55%;
        margin-top: 14.2%;
        margin-left: -16%;
    }
    .plazo  {
        width: 85%;
        height: 30%;
        margin-top: 36.7%;
        margin-left: -45px;
    }
    .plazo1  {
        width: 8%;
        height: 15%;
        margin-top: 17.7%;
        margin-left: -483.5px;
        position: absolute;
    }

    .plazo2  {
        width: 7%;
        height: 15%;
        margin-top: 26.3%;
        margin-left: -483.5px;
        position: absolute;
    }

    .plazo3  {
        width: 18%;
    height: 11%;
    margin-top: 18.3%;
    margin-left: -44.1%;
    position: absolute;
    }

    .plazo4  {
        width: 18%;
    height: 11%;
    margin-top: 27.3%;
    margin-left: -44.1%;
    position: absolute;
    }

    .plazo5  {
        width: 50%;
    height: 28%;
    margin-top: 17.3%;
    margin-left: 37.1%;
    position: absolute;
    }
}

.link5 {
    position: absolute;
    width: 32%;
    height: 24%;
    left: 6%;
    top: 5%;
}



@media screen and (min-width: 568px) and (max-width: 719px){
    .vartalon8 {
        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 18.3%;
            margin-left: -428.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 26.7%;
            margin-left: -425.1px;
            position: absolute;
        }
        .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 18.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 27.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 17.7%;
            margin-left: 37.1%;
            position: absolute;
        }
        .plazo {
            width: 84%;
            height: 30%;
            margin-top: 34.7%;
            margin-left: -35px;
        }
    }
}

@media screen and (min-width: 731px) and (max-width: 759px){
    .vartalon8 {
        .plazo1 {
            width: 7%;
            height: 12%;
            margin-top: 18.3%;
            margin-left: -552.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 26.7%;
            margin-left: -547.1px;
            position: absolute;
        }
        .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 18.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 27.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 17.7%;
            margin-left: 37.1%;
            position: absolute;
        }
        .plazo {
            width: 84%;
            height: 30%;
            margin-top: 34.7%;
            margin-left: -51px;
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px){
    .vartalon8 {
        .plazo {
            margin-top: 38.7%;
            margin-left: -61px;
        }

        .plazo1 {
            width: 7%;
            height: 12%;
            margin-top: 20.4%;
            margin-left: -726.7px;
            position: absolute;
        }
        .plazo2 {
            width: 7%;
            height: 12%;
            margin-top: 29.9%;
            margin-left: -727.5px;
            position: absolute;
        }
        .vartalon8 .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 20.3%;
            margin-left: -44.1%;
            position: absolute;
        }

        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 30.3%;
            margin-left: -44.1%;
            position: absolute;
        }

        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 19.5%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}

@media screen and (min-width: 812px) and (max-width: 822px){
    .vartalon8 {
        .plazo {
            width: 84%;
            height: 30%;
            margin-top: 28.7%;
            margin-left: -55px;
        }
        .plazo1 {
            width: 7%;
            height: 12%;
            margin-top: 15.3%;
            margin-left: -617.7px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 22.1%;
            margin-left: -614.1px;
            position: absolute;
        }
        .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 15.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 22.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 14.5%;
            margin-left: 37.1%;
            position: absolute;
        }

    }
}

@media screen and (min-width: 823px) and (max-width: 9515px) {
    .vartalon8 {
        .plazo {
            margin-top: 31.7%;
            width: 84%;
            margin-left: -53px;
        }
        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 16.2%;
            margin-left: -621.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 23.7%;
            margin-left: -618.1px;
            position: absolute;
        }
        .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 16.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 24.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 15.7%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .vartalon8 {
        .plazo {
            margin-top: 46.7%;
            width: 84%;
            margin-left: -66px;
        }
        .plazo1 {
            width: 7%;
            height: 12%;
            margin-top: 24.6%;
            margin-left: -778.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 35.7%;
            margin-left: -777.1px;
            position: absolute;
        }

        .plazo3 {
            width: 18%;
            height: 11%;
            margin-top: 24.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo4 {
            width: 18%;
            height: 11%;
            margin-top: 36.3%;
            margin-left: -44.1%;
            position: absolute;
        }
        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 23.5%;
            margin-left: 37.1%;
            position: absolute;
        }

    }
}

@media screen and (min-width: 1366px) {
    .vartalon8 {
        .plazo {
            width: 80%;
            height: 25%;
            margin-top: 46.7%;
            margin-left: -16px;
        }
        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 24.3%;
            margin-left: -1035.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 35.7%;
            margin-left: -1028.1px;
            position: absolute;
        }
        .plazo3 {
            width: 19%;
            height: 11%;
            margin-top: 24.3%;
            margin-left: -43.1%;
            position: absolute;
        }
        .plazo4 {
            width: 17%;
            height: 11%;
            margin-top: 36.3%;
            margin-left: -45.1%;
            position: absolute;
        }
        .plazo5 {
            width: 49%;
            height: 28%;
            margin-top: 23.4%;
            margin-left: 36.1%;
            position: absolute;
        }
        .plazo {
            width: 84%;
            height: 29%;
            margin-top: 46.7%;
            margin-left: -96px;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 730px) {
    .vartalon8 {
        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 18.3%;
            margin-left: -473.5px;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 26.7%;
            margin-left: -474.1px;
            position: absolute;
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 730px) {
    .vartalon8 {
        .plazo {
            width: 84.4%;
            height: 30%;
            margin-top: 30.7%;
            margin-left: -50px;
        }

        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 16.3%;
            margin-left: -75.8%;
            position: absolute;
        }

        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 23.7%;
            margin-left: -75.1%;
            position: absolute;
        }

        .plazo3 {
            width: 20%;
            height: 11%;
            margin-top: 16.3%;
            margin-left: -43.1%;
            position: absolute;
        }

        .plazo4 {
            width: 17%;
            height: 11%;
            margin-top: 24.2%;
            margin-left: -45.1%;
            position: absolute;
        }

        .plazo5 {
            width: 50%;
            height: 27.3%;
            margin-top: 15.7%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}

@media screen and (min-width: 760px) and (max-width: 811px) {
    .vartalon8 {
        .plazo {
            width: 84.4%;
            height: 30%;
            margin-top: 29.3%;
            margin-left: -50px;
        }

        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 15.3%;
            margin-left: -75.8%;
            position: absolute;
        }

        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 22.7%;
            margin-left: -75.1%;
            position: absolute;
        }

        .plazo3 {
            width: 20%;
            height: 11.1%;
            margin-top: 15.3%;
            margin-left: -43.1%;
            position: absolute;
        }

        .plazo4 {
            width: 17%;
            height: 11%;
            margin-top: 23%;
            margin-left: -45.1%;
            position: absolute;
        }

        .plazo5 {
            width: 50%;
            height: 27.9%;
            margin-top: 14.7%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 959px) {
    .vartalon8 {
        .plazo {
            margin-top: 27.7%;
            width: 84%;
            margin-left: -53px;
        }
        .plazo1 {
            width: 7%;
            height: 13%;
            margin-top: 14.8%;
            margin-left: -76%;
            position: absolute;
        }
        .plazo2 {
            width: 7%;
            height: 13%;
            margin-top: 21.7%;
            margin-left: -76%;
            position: absolute;
        }
        .plazo3 {
            width: 19.6%;
            height: 11%;
            margin-top: 14.5%;
            margin-left: -43.3%;
            position: absolute;
        }
        .plazo4 {
            width: 17.1%;
            height: 11%;
            margin-top: 21.7%;
            margin-left: -45.3%;
            position: absolute;
        }

        .plazo5 {
            width: 50%;
            height: 28%;
            margin-top: 14.1%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}

@media screen and (min-width: 1064px) and (max-width: 1365px) {
    .vartalon8 {
        .plazo {
            margin-top: 28.7%;
            width: 84%;
            margin-left: -74px;
        }
        .plazo1 {
            width: 7%;
            height: 14%;
            margin-top: 14.8%;
            margin-left: -75%;
            position: absolute;
        }
        .plazo2 {
            width: 6%;
            height: 13%;
            margin-top: 21.9%;
            margin-left: -75%;
            position: absolute;
        }
        .plazo3 {
            width: 19.2%;
            height: 11%;
            margin-top: 14.9%;
            margin-left: -43.1%;
            position: absolute;
        }
        .plazo4 {
            width: 17%;
            height: 11%;
            margin-top: 22.3%;
            margin-left: -45.1%;
            position: absolute;
        }

        .plazo5 {
            width: 50%;
            height: 27%;
            margin-top: 14.5%;
            margin-left: 37.1%;
            position: absolute;
        }
    }
}