.vartalon5 {
    background-image: url('../../images/imagen5.png');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .poli  {   
        width: 50%;
        height: 52%;
        margin-top: 15.7%;
        margin-left: -3%;
    }
}

.azul  {
    position: absolute;
    width: 17%;
    height: 64%;
    top: 22.3%;
    left: 21.3%;
    animation: girar 2s infinite;
}

.azul1  {
    position: absolute;
    width: 17%;
    height: 64%;
    top: 23%;
    left: 58.6%;
    animation: girar2 2s infinite;
}

.link00 {
    position: absolute;
    width: 16%;
    height: 17%;
    left: 81%;
    top: 82%;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes girar2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1059px){
    
    .vartalon5 {
        .poli {
            width: 50%;
            height: 57%;
            margin-top: 19.2%;
            margin-left: -3%;
        }
    }
    
}

@media screen and (min-width: 812px) and (max-width: 1023px){
    
    .azul {
        position: absolute;
        width: 17%;
        height: 63%;
        top: 22.8%;
        left: 21%;
        animation: girar 2s infinite;
    }
    
    .vartalon5 {
        .poli {
            width: 50%;
            height: 54%;
            margin-top: 12.7%;
            margin-left: -3%;
        }
    } 
    
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    .vartalon5 {
        .poli {
            width: 50%;
            height: 56%;
            margin-top: 16.7%;
            margin-left: -3%;
        }
        .azul {
            position: absolute;
            width: 17%;
            height: 63%;
            top: 22.8%;
            left: 21.3%;
            animation: girar 2s infinite;
        }
    }
}

@media screen and (min-width: 731px) and (max-width: 759px){
    .vartalon5 {
        .poli {
            width: 50%;
            height: 56%;
            margin-top: 14.7%;
            margin-left: -3%;
        }
    }
}

@media screen and (min-width: 823px) and (max-width: 914px){
    .vartalon5 {
        .poli {
            width: 50%;
            height: 56%;
            margin-top: 12.7%;
            margin-left: -3%;        
        }
        .azul {
            position: absolute;
            width: 17%;
            height: 63%;
            top: 22.8%;
            left: 21.1%;
            animation: girar 2s infinite;
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 730px){
    .vartalon5 {
        .poli {
            width: 50%;
        height: 53%;
        margin-top: 13.7%;
        margin-left: -3%;
        }
    }
}

@media screen and (min-width: 760px) and (max-width: 811px){
    .vartalon5 {
        .poli {
            width: 50%;
            height: 53%;
            margin-top: 12.9%;
            margin-left: -3%;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 959px){
    .vartalon5 {
        .poli {
            width: 50%;
            height: 56%;
            margin-top: 11.7%;
            margin-left: -3%;        
        }
        .azul {
            position: absolute;
            width: 17%;
            height: 63%;
            top: 22.8%;
            left: 21.1%;
            animation: girar 2s infinite;
        }
    }
}

@media screen and (min-width: 1064px) and (max-width: 1365px) {
    .vartalon5 {
        .poli {
            width: 50%;
            height: 57%;
            margin-top: 12.2%;
            margin-left: -3%;
        }
    } 
}