.vartalon7 {
    background-image: url('../../images/imagen7.png');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .eficacia {
        width: 60%;
        height: 62%;
        margin-top: 25.2%;
        margin-left: 8%;
    
    }
    .eficacia1 {
        width: 104%;
        height: 62%;
        margin-top: 25.2%;
        margin-left: -39%;
    }
}

.link02 {
    position: absolute;
    width: 16%;
    height: 17%;
    left: 81%;
    top: 82%;
}

@media screen and (min-width: 1024px) and (max-width: 1035px){
    .vartalon7 {
        .eficacia {
            margin-top: 33% !important;
            height: 62% !important;
            width: 292px;
            margin-left: 38px;

        }
    
        .eficacia1 {
            margin-top: 33% !important;
            height: 62% !important;
            width: 101%;
            margin-left: -181px;
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 730px){
    .vartalon7 {
        .eficacia {
            width: 62%;
            height: 62%;
            margin-top: 23.2%;
            margin-left: 4%;
        }

        .eficacia1 {
            width: 107%;
            height: 62%;
            margin-top: 23.2%;
            margin-left: -39.6%;
        }
    }
}

@media screen and (min-width: 731px) and (max-width: 759px) {
    .vartalon7 img {
        width: 75%;
        height: 50%;
        margin-top: 16.2%;
        margin-left: -16%;
    }
}

@media screen and (min-width: 812px) and (max-width: 959px) {
    .vartalon7 {
        .eficacia {
            margin-top: 22.2%;
        }
    
        .eficacia1 {
            margin-top: 22.2%;
        }
    }
}

@media screen and (min-width: 823px) and (max-width: 811px) {
    .vartalon7 {
        .eficacia {
            margin-top: 22%;
            margin-left: 7.2%;
        }
    
        .eficacia1 {
            margin-top: 22%;
            margin-left: -151px;
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    .vartalon7 {
        .eficacia {
            width: 59%;
            height: 62%;
            margin-top: 28.2%;
            margin-left: 7.4%;
        }

        .eficacia1 {
            width: 102.3%;
            height: 62%;
            margin-top: 27.7%;
            margin-left: -36.7%;
        }
    }
    
}

@media screen and (min-width: 1366px)  {
    .vartalon7 {
        .eficacia {
            width: 59%;
            height: 62%;
            margin-top: 33.2%;
            margin-left: 7.4%;
        }

        .eficacia1 {
            width: 101.3%;
            height: 62%;
            margin-top: 32.7%;
            margin-left: -35.7%;
        }
    }
    
}

@media screen and (min-width: 760px) and (max-width: 811px){
    .vartalon7 {
        .eficacia {
            width: 62%;
            height: 62%;
            margin-top: 22.2%;
            margin-left: 4%;
        }

        .eficacia1 {
            width: 107%;
            height: 62%;
            margin-top: 22.2%;
            margin-left: -39.6%;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 1023px){
    .vartalon7 {
        .eficacia {
            width: 62%;
            height: 62%;
            margin-top: 20.2%;
            margin-left: 4%;
        }

        .eficacia1 {
            width: 104%;
            height: 62%;
            margin-top: 20.4%;
            margin-left: -38%;
        }
    }
}

@media screen and (min-width: 1064px) and (max-width: 1365px){
    .vartalon7 {
        .eficacia {
            width: 60%;
            height: 61.2%;
            margin-top: 21.2%;
            margin-left: 5%;
        }

        .eficacia1 {
            width: 104%;
            height: 62%;
            margin-top: 21.2%;
            margin-left: -37.5%;
        }
    }
}