.vartalon3 {
    background-image: url('../../images/imagen3.png');
    background-size: 100% 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden !important;
    background-repeat: no-repeat;

    .grafica {
        margin-top: 25.2%;
    margin-left: 12%;
    width: 85%;
    }
    .grafica1 {
        margin-top: 25.2%;
        width: 84%;
        margin-left: -1%;

    }
    .grafica2 {
        width: 150%;
        position: absolute;
        margin-top: -49px;
        margin-left: 69px;
    }
}

.link01 {
    position: absolute;
    width: 16%;
    height: 17%;
    left: 81%;
    top: 81%;
}

@media (min-width: 1024px )  and (max-width: 1064px) {
    .vartalon3 {
        .grafica {
            margin-top: 32.2%;
            margin-left: 12%;
            width: 83%;
            height: 335px;
        }

        .grafica1 {
            margin-top: 32.2%;
            margin-left: 1%;
            width: 82%;
            height: 334px;
        }
        .grafica2 {
            width: 151%;
            position: absolute;
            margin-top: -100px;
            margin-left: 122px;
            height: 107px;
        }
    }
}

@media (min-width: 812px ) and (max-width: 822px)  {
    .vartalon3 {
        .grafica {
            margin-top: 21.2%;
            margin-left: 12%;
            width: 84%;
            height: 160px;
        }

        .grafica1 {
            margin-top: 20.2%;
            margin-left: 0%;
            width: 83%;
            height: 163px;
        }
        .grafica2 {
            width: 153%;
            position: absolute;
            margin-top: -54px;
            margin-left: 83px;
            height: 61px;
        }
    }
}

@media (min-width: 960px) and (max-width: 1023px) {
    .vartalon3 {
        img {
            margin-top: 16.2%;
        }

        .grafica {
            margin-top: 27.2%;
            margin-left: 12%;
            width: 83%;
            height: 261px;
        }
        .grafica1 {
            margin-top: 27.2%;
            width: 82%;
            margin-left: 1%;
            height: 260px;
        }

        .grafica2 {
    width: 153%;
    position: absolute;
    margin-top: -82px;
    margin-left: 103px;
    height: 94px;
}
        
        
    }
}

@media (min-width: 720px ) and (max-width: 730px) {
    .vartalon3 {
        .grafica {
            margin-top: 21.7%;
            width: 83.8%;
            margin-left: 12.2%;
            height: 52%;
        }

        .grafica1 {
            margin-top: 21.7%;
            width: 83%;
            margin-left: -0.5%;
            height: 52%;
        }

        .grafica2 {
            width: 150%;
            margin-top: -16%;
            margin-left: 21.6%;
        }
    }
}

@media screen and (min-width: 823px) and (max-width: 914px){
    .vartalon3 {
        .grafica {
            margin-top: 22.2%;
            margin-left: 11.9%;
            width: 84%;
            height: 179px;
        }

        .grafica1 {
            margin-top: 22.2%;
            margin-left: 0%;
            width: 83%;
            height: 176px;
        }
        .grafica2 {
            width: 152%;
            position: absolute;
            margin-top: -58px;
            margin-left: 88px;
        }
    }
}

@media screen and (min-width: 731px) and (max-width: 759px) {
    .vartalon3 {
        .grafica2 {
            width: 150%;
            position: absolute;
            margin-top: -57px;
            margin-left: 80px;
        }
        .grafica {
            margin-top: 25.2%;
            margin-left: 12%;
            width: 84%;
        }
        .vartalon3 .grafica1 {
            margin-top: 25.2%;
            width: 83%;
            margin-left: 0%;
        }
    }
}

@media (min-width: 568px ) and (max-width: 639px)  {
    .vartalon3 {
        .grafica2 {
            width: 150%;
            position: absolute;
            margin-top: -42px;
            margin-left: 62px;
        }
    }
}

@media (min-width: 667px ) and (max-width: 719px)  {
    .vartalon3 {
        .grafica2 {
            width: 150%;
            position: absolute;
            margin-top: -51px;
            margin-left: 73px;
            height: 57px;
        
        }
    }
}

@media (min-width: 640px ) and (max-width: 666px)  {
    .vartalon3 {
        .grafica2 {
            width: 150%;
            position: absolute;
            margin-top: -51px;
            margin-left: 73px;
            height: 57px;
        }
    }
}

@media (min-width: 1366px )  {
    .vartalon3 {
        .grafica {
            margin-top: 32.2%;
            margin-left: 12%;
            width: 82%;
            height: 447px;
        }
        .grafica1 {
            margin-top: 32.2%;
            width: 81%;
            margin-left: 2%;
            height: 445px;
        }
        .grafica2 {
            width: 154%;
            position: absolute;
            margin-top: -135px;
            margin-left: 148px;
            height: 149px;
        }
    }
}

@media (min-width: 760px) and (max-width: 811px) {
    .vartalon3 {
        .grafica {
            margin-top: 21%;
            width: 83.8%;
            margin-left: 12.2%;
            height: 50%;
        }

        .grafica1 {
            margin-top: 20.7%;
            width: 83%;
            margin-left: -0.5%;
            height: 50%;
        }

        .grafica2 {
            width: 150%;
            margin-top: -16%;
            margin-left: 21.6%;
        }
    }
}

@media screen and (min-width: 915px) and (max-width: 959px){
    .vartalon3 {
        .grafica {
            margin-top: 19.7%;
            margin-left: 11.9%;
            width: 84%;
            height: 179px;
        }

        .grafica1 {
            margin-top: 20%;
            margin-left: 0%;
            width: 83%;
            height: 176px;
        }
        .grafica2 {
            width: 156%;
            position: absolute;
            margin-top: -13%;
            margin-left: 88px;
        }
    }
}

@media screen and (min-width: 1064px)  and (max-width: 1365px) {
    .vartalon3 {
        .grafica {
            margin-top: 20.2%;
            margin-left: 12%;
            width: 83%;
            height: 49.4%;
        }

        .grafica1 {
            margin-top: 20.7%;
            margin-left: 1%;
            width: 82%;
            height: 48.7%;
        }
        
        .grafica2 {
            width: 151%;
            position: absolute;
            margin-top: -17%;
            margin-left: 122px;
            height: 123%;
        }
    }
}